<button routerLink="/admin" class="main-button">Tagasi</button>


<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label for="">Pilt</label><br>
    <input ngModel name="imgSrc" type="text" placeholder="Eseme pilt" required><br>
    <label for="">Nimetus</label><br>
    <input ngModel name="title" type="text" placeholder="Eseme nimetus" required><br>
    <label for="">Hind</label><br>
    <input ngModel name="price" type="text" placeholder="Eseme hind" required><br>
    <label for="">Kategooria</label><br>
    <input ngModel name="category" type="text" placeholder="Eseme kategooria" required><br>
    <button [disabled]="addItemForm.invalid">Lisa ese</button>
</form>