<button *ngIf="itemsInCart.length > 0" (click)="onEmptyCart()" class="main-button">Tühjenda ostukorv</button>
<div *ngIf="itemsInCart.length == 1">Ostukorvis on {{ itemsInCart.length}} ese</div>
<div *ngIf="itemsInCart.length > 1">Ostukorvis on {{ itemsInCart.length}} eset</div>

<div *ngIf="itemsInCart.length == 0">Ostukorvis on tühi</div>

<div *ngFor="let item of itemsInCart">
<img src="{{item.imgSrc}}" alt="">
<div class="item-title">{{item.title}}</div><br>
    <span class="item-price">{{item.price}}</span><br><br>
    <button (click)="onRemoveFromCart(item)" class="main-button">X</button>
</div>

<div *ngIf="itemsInCart.length > 0">KOKKU {{sumOfCart}}</div>